@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 32px;
    height: 160px;
}


header img{
    width: 130px;
    height: 130px;    
    border-radius: 50%;
    
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding: 4px;
    
    transition: transform .3s; /* Uma "função" para o hover (transform: scale() */
}

header img:hover{
    transform: scale(1.2);
}

body {
    background-image: url(../imagens/background.jpg);
    background-position: top center;
    background-size: 100% auto; /*100% da largura disponível e altura automática (auto)*/
    background-repeat: no-repeat;
    background-color: #121214; /*cor da parte final para dar continuidade à parte de baixo do background.*/
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%; /* Ou 38px */
}

main {
    max-width: 580px;
    height: 800px;
    width: 90%;
    margin: 32px auto;  

    display: flex; /* também poderia ser DISPLAY: GRID; */
    flex-direction: column;
    gap: 24px;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px; /* para dar um espaço no top para que possa aparecer um pouco da borda colorida */
    border-radius: 10px;
}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    
}

section h2{
    letter-spacing: -0.47px; 
}

section p{
    letter-spacing: -0.18px;
}
/* 
    LETTER-SPACING DÁ UMA DIFERENÇA MÍNIMA, MAS É INTERESSANTE DEIXAR.
*/

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* para itens quebrarem e ir para a próxima linha, caso tenha mais */
    gap: 16px;
    margin-top: 24px;

}

.lista-jogos img{
    width: 90px;
    border-radius: 8px;  
}

.lista-canais img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

/* HOVERS (transitions) */

li img:hover{
    border: 2px solid rgba(0, 0, 0, 0.322);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    transition: transform 0.3, border 1s;
}

li svg:hover{
    transform: translate(-3px, -3px);
    transition: transform 0.3, border 1s;
}

/* ANIMAÇÕES */

header img{
    animation: fromTop .4s;
    /* Para demorar 0.8 segundos até que se faça toda a animação. Devemos ter pelo menos 2 propriedades: O nome da animação e o tempo que ela vai levar. */
}
/* vai vir de cima para baixo */
@keyframes fromTop{ /* fromTop é um nome inventado para poder identificar a ação */
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main section{
    animation: fromBottom .8s backwards;
}

main section#jogos{
    animation-delay: 0;
}

main section#canais{
    animation-delay: .4s;
}

main section#redes{
    animation-delay: .8s;
}

@keyframes fromBottom{
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}